@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Golos+Text:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'remixicon/fonts/remixicon.css';
@import "tailwindcss";

:root{
    --prim: #FFD700;
    --text: #1C1C1D;
    --body: #F6F6F6;
    --white: #fff;
    --black: #000000;
    --G1: #63AF00;
    /* --G2: #0CB006; */
    

    --Montserrat: 'Montserrat', sans-serif;
    --GolosText: 'Golos Text', sans-serif;
    --Bebas: 'Bebas Neue', sans-serif;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;
}

body{
    background-color: var(--body);
}
.Montserrat {
    font-family: var(--Montserrat);
}
.Golostext {
    font-family: var(--GolosText);
}
.Bebas {
    font-family: var(--Bebas);
}

/* Navbar */
.menu-link a{
    font-weight: 500;
    font-family: var-(--GolosText);
}
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.hero-span{
    position: relative;
}
.hero-span:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
}

.hero-bg-elm2{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 700px;
    background-color: #000000;
    border-radius: 100%;
    box-shadow: 0 0 40px rgba(131, 131, 131, 0.3)
}

.partner-swiper{
    padding: 20px !important;
}
.partner-img{
    transition: var(--transition-regular);
    cursor: pointer;
}
.partner-img:hover{
    transform: scale(1.1);
}
/* About section */

.title{
    position: relative;
}
.title::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(131, 131, 131, 0.3);
}
.title::before{
    content: '';
    position: absolute;
    top: -20%;
    right: 10%;
    width: 1px;
    height: 250px;
    background-color: rgba(131, 131, 131, 0.3);
}
.title-span{
    position: relative;
}
.title-span:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: var(--G1);
}


/* Service section */
.service:after{
    content: "Immagination";
    position: absolute;
    line-height: 9rem;
    bottom: 0;
    font-size: 7rem;
    font-weight: 800;
    font-family: var(--Bebas);
    opacity: 0.1;
    color: gray;
}

.service-img{
    transform: scale(0);
    opacity: 0;
    transition: var(--transition-slow);
}
.service-card:hover .service-img {
    transform: scale(0.9);
    opacity: 1;
    height: 100%;
    z-index: 3;
}
.service-card:hover i{
    transform: rotate(45deg);
    background-color: var(--G1);
    color: var(--white);
    padding: 6px 10px;
    border-radius: 50%;
}

/* Expertise  */
.expertise-slider{
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
    height: 700px;
    overflow: hidden;
    border-radius: 20px;
}
.expertise-slider img{
    animation: Anim-scale 4s forwards linear;
    border-radius: 20px;

}
@keyframes Anim-scale {
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }
}

/* Testimonial */

.testimonial-image{
    height: 100vh;
    background-image: url("../public/testimonial-img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.testimonial-image:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


@media (max-width: 991px){
    .hero{
        height: 100%;
        margin-top: 8%;
    }
    .hero-content-img{
        top: 70%;
    }
    .about{
        background-position: top center;
    }
    .service:after{
        font-size: 5rem;
    }
    .service:before{
        height: 180px;
        bottom: -15px;
        width: 300px;
    }
    .service-img{
        transform: scale(1);
        opacity: 1;
        transition: var(--transition-slow);
    }
    .expertise-card{
        margin: 0 !important;
    }
    .expertise-slider{
        bottom: -20%;
        height: 550px;
    }
    .pricing-wrap{
        height: 300px;  
    }
}

@media (max-width: 575px){
    .hero{
        margin-top: 10%;
    }
    .hero-content-img{
        top: 50% !important;
    }
    
    .service:before{
        display: none;
    }
    .expertise-slider{
        position: relative;
        width: 100%;
        height: 400px;
    }
}